.title {
    text-align: center;
    margin: 1.3em 0;
    font-size: 1.4rem;
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

h1 {
    margin: 0;
}

/*
.nav-icon {
    position: absolute;
    margin: 10px 0 0 10px;
    padding: 5px;
    border-radius: 10px;
}

.nav-icon div{
    width: 50px;
    height: 3px;
    margin: 7px 0px 7px 0px;
    background: white;
    border-radius: 20px;
}

.nav-icon:hover{
    transition: 0.5s;
    background-color: rgb(25,25,25);
}
*/